{% extends "base.html" %}

{% block content %}
<h1>Index</h1>
<A href='recipes'>Recipes</a>
<p>
<a href='liquor_types'>Liquor types</a>
<p>
<a href='inventory'>Inventory</a>
<p>
<a href='music'>Music Request Form</a>
<p>
<a href='/login_1'>Login</a>
<p>
<a href='/status'>Login status</a>
<p>
<a href='/logout'>Log out</a>
<hr>
<a href='convert_form_ajax_jsonrpc'>Form to convert amounts</a>
<hr>
<a href='/explanation'><b>HW 6.2 explanation</b></a>
<hr>

<script>
function myFunction()
{
alert("Hello! I am an alert box!");
}
</script>
<input type="button" onclick="myFunction()" value="Show alert box" />

{% endblock %}

