{% extends "base.html" %}
{% block content %}


{% if requests %}
<h1>Music Requests</h1>

 <ul>
 {% for r in requests %}
   {% for req in r%}
     <li> <b> Attendee name: </b>{{ req.name }}
     <ul>
       <li> <b> Song: </b> {{req.song}}
       <li> <b> Artist: </b> {{req.artist}}
       <li> <b> Album: </b> {{req.album}}
     </ul>
   {% endfor %}
 {% endfor %}
 </ul>
{% else %}
No music requests yet...
{% endif %}


Add to music requests:
<form action="music_add">
Attendee name: <input type="text" name="name" value = "Enter Name">  (Required)<p>
Song:<input type="text" name="song" value="No Preference"><p>
Artist:<input type="text" name="artist" value="No Preference"><p>
Album:<input type="text" name="album" value="No Preference"><p>
<input type="submit">
</form>

{% endblock content %}

